<div class="page">
    <div class="container">
        <h4 class="f5 spaced">Project list</h4>
        <div class="a"  (click)="setOne()" >Set filter 1</div>
        <div class="a"  (click)="setTwo()" >Set filter 2</div>

        <ul class="row row-gap boxed umd-3">
            <li class="box-shadow-normal spaced" *ngFor="let project of projects$ | async">
                <a class="f3 a" routerLink="/projects/{{project.id}}">{{ project.title }}</a>
                <img src="{{project.image}}" >
                <p>{{ project.description }}</p>
                <!-- <cr-project-card [mode]="{compact: true}"></cr-project-card> -->
            </li>
        </ul>
        <hr>
        <a [href]="seoLink" (click)="next($event)">Next</a>
        <h5 class="f5 spaced">Listed</h5>
        <ul class="rowlist">
            <li *ngFor="let item of [1,2,3,4,5,6]">
                <cr-project-card ></cr-project-card>
            </li>
        </ul>
        <p>
            Test links for products
            <a [routerLink]="['/products', {public: true, page: 1}]">Public</a> |
            <a [routerLink]="['/products', {public: false}]">Private</a> |
            <a [routerLink]="['/products', {public: false, page: 2}]">Private page 2</a>

        </p>

    </div>
</div>
