<div class="page">
    <div class="container">
        <h4 class="f5 spaced">Project list</h4>
        <ul class="row row-gap boxed umd-3">
            <li class="box-shadow-normal spaced" *ngFor="let project of projects$ | async">
                <h3 class="f3 a" routerLink="/projects/{{project.id}}">{{ project.title }}</h3>
                <img src="{{project.image}}" >
                <p>{{ project.description }}</p>
                <!-- <cr-project-card [mode]="{compact: true}"></cr-project-card> -->
            </li>
        </ul>
        <hr>

        <h5 class="f5 spaced">Listed</h5>
        <ul class="rowlist">
            <li *ngFor="let item of [1,2,3,4,5,6]">
                <cr-project-card></cr-project-card>
            </li>
        </ul>
    </div>
</div>
