<div class="page" *ngIf="project$ | async as project">
    <div class="container">

        <span class="small">Breadcrumbs</span>
        <h3 class="f3 ">{{ project.title }}</h3>
        <h4 class="f6 light spaced">Subline</h4>
        <img src="{{project.image}}" >
        <p>{{ project.description }}</p>

        <section>
        <dl class="grid g-1 spacedout">
            <dt class="light weight-light">Title</dt>
            <dd>Data</dd>
            <dt class="light weight-light">Title</dt>
            <dd>Data
                <span class="label label-green">Done</span>
            </dd>
            <dt class="light weight-light">Title</dt>
            <dd>Data</dd>
            <dt class="light weight-light">Title</dt>
            <dd>Data</dd>
            <dt class="light weight-light">Title</dt>
            <dd>Data</dd>

        </dl>
    </section>

    <section>
        <table class="rich w100">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>dsfsdfdsfs</td>
                    <td>2.2.4559</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <ul class="rowlist">
            <li class="card">
                <div class="c-1 rspace">
                    <img src="https://randomuser.me/api/portraits/men/57.jpg" alt="image" class="image-cover image-circle">
                </div>
                <div class="content c-6">
                    <h6 class="f6"><a class="cam">Lorem Ipsum</a></h6>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit recusandae voluptatibus labore animi voluptas doloremque assumenda, dolor eum. Rerum molestiae eos magnam ea laborum distinctio impedit commodi fugiat cumque vero!
                </div>
                <div class="lauto c-2 txt">
                    August 2, 2001
                </div>
                <div class="tail">
                    <span class="label label-yellow">Warning</span>
                    <i class="liga a">right</i>
                </div>
            </li>
            <li class="card">
                <div class="c-1 rspace">
                    <img src="https://randomuser.me/api/portraits/men/2.jpg" alt="image" class="image-cover image-circle ">
                </div>
                <div class="content c-6">
                    Lorem ipsum, do
                </div>
                <div class="lauto c-2">
                   September 2, 2001
                </div>
                <div class="tail">
                    <span class="label label-yellow">Warning</span>
                    <i class="liga a">right</i>
                </div>
            </li>
            <li class="card">
                <div class="c-1 rspace">
                    <img src="https://via.placeholder.com/50" alt="image" class="image-cover image-circle ">
                </div>
                <div class="content c-6">
                    corrupti temporibus soluta veritatis vitae perferendis totam eveniet, nemo atque, fugit esse consequatur accusantium delectus nam!
                </div>
                <div class="lauto c-2">
                   May 2, 2001
                </div>
                <div class="tail">
                    <span class="label label-yellow">Warning</span>
                    <i class="liga a">right</i>
                </div>
            </li>
        </ul>
    </section>

    </div>
</div>
