<h5>Change cookie on client</h5>
<ul>
    <li>
        <button class="btn" (click)="switchLanguage('ar')">عربي</button>
    </li>
    <li>
        <button class="btn" (click)="switchLanguage('en')">English</button>
    </li>
</ul>

<h5>Change cookie on server</h5>
<ul>
    <li>
        <a [href]="switchServerLanguage('ar')">عربي</a>
    </li>
    <li>
        <a [href]="switchServerLanguage('en')">English</a>
    </li>
</ul>
<h5>Redirect to URL</h5>
<ul>
    <li>
        <a [href]="getLanguageLink('ar')">عربي</a>
    </li>
    <li>
        <a [href]="getLanguageLink('en')">English</a>
    </li>
</ul>

<h4>{{'Hello World' | translate:'HelloWorld'}}</h4>


<section>

    <ul class="rowlist">
        <li>{{ 'Students' | translate:'Students':0 }}</li>
        <li>{{ 'Students' | translate:'Students':1 }}</li>
        <li>{{ 'Students' | translate:'Students':2 }}</li>
        <li>{{ 'Students' | translate:'Students':3 }}</li>
        <li>{{ 'Students' | translate:'Students':11 }}</li>
    </ul>
</section>


<div class="spaced" [attr.data-value]="'something' | translate:'Something'">
    <p>Translate plurals in multiple languages:</p>
    <ul>
        <li *ngFor="let item of arrayOfThings">
            {{ item.key | translate:'THINGS':null:item.key }}
        </li>
    </ul>
</div>

<section>
    <p>Translate gender</p>
    <ul>
        <li>
            {{ 'default male' | translate:'GENDER':null:'MALE' | titlecase}}
        </li>
        <li>
            {{ 'default female' | translate:'GENDER':null:'FEMALE' | titlecase}}

        </li>
    </ul>
</section>
<section>

    <p>Translate rate</p>
    <ul>
        <li *ngFor="let rate of rates">
            <label><input type="checkbox" [value]="rate" />
                {{ enumRate[rate] | translate:'RATING':null:enumRate[rate] | titlecase}}</label>
        </li>
    </ul>
</section>

<section>
    A product is {{ productRating.toString() | translate:'RATING':null:enumRate[productRating]  }}
</section>

<p>Translate relative time</p>
<ul>
    <li>{{date1  | relativetime }}</li>
    <li>{{date2  | relativetime }}</li>
    <li>{{date3  | relativetime }}</li>
    <li>{{date4  | relativetime }}</li>
    <li>{{date5  | relativetime:true }}</li>
</ul>
<p>Localize date</p>
<p>
    using keyword full:
    {{ date1 | date:'full' }}
</p>
<div class="rtl">
    {{ date1 | date }}
</div>
<p>
    using format: {{ date1 | date:'EEE, MMM d, yy hh:mm:ss a Z' }}
</p>

<p>
    Currency {{ 23.44 | currency }}
</p>
<p>A: {{0.25 | currency:'JOD'}}</p>
<p>
    {{'3.14159265359' | number:'4.2-4'}}
</p>

