<button (click)="insertElement()" class="btn">Insert element</button>
<button (click)="insertPeach()" class="btn">Insert element with peach</button>
<button (click)="insertPeachFirst()" class="btn">Insert peach first</button>


<br>
<button (click)="ayyash()" class="btn">Do something then toast</button>

<br>

<button (click)="openRose()" class="btn">Open Rose</button>
<button (click)="openRose2()" class="btn">Open Rose 2</button>

<br>
<br>
<button (click)="updateState()" class="btn">Update state</button>
<button (click)="check()" class="btn">Check state</button>
