

        <h2 class="f2 txt-c"> {{ 'Hello cricketers' | translate:'WELCOME_TEXT' }}</h2>

        <ng-container *ngIf="xx$ | async as projects">
          <ul class="spaced">
            <li *ngFor="let item of projects.matches">
              {{ item.id }}
            </li>
          </ul>
        </ng-container>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et reprehenderit impedit vero quaerat? Optio aspernatur sed corporis officia cupiditate dolores provident minus quidem atque, magnam id fugit tempore cum labore!
        </p>
        <hr class="spaced" />
        <button class="btn" (click)="showToast1()">Show toast of exact code</button>
        <br />
        <button class="btn" (click)="showToast2()">Show toast of no code</button>
        <br />
        <button class="btn" (click)="showToast3()">
          Show toast with fallback message
        </button>
        <br />
        <button class="btn" (click)="showToast4()">
          Show toast with key provided message
        </button>
        <div>{{ x$ | async}}</div>
        <div class="txt-c">

            <button class="btn-rev" routerLink="/login" [shGtm]="{source: enumGtmSource.Homepage,group: enumGtmGroup.Login}">Login</button>
        </div>

        <a [routerLink]="['/content/details', {p: '1'}]">Details content</a>
