

<div class="page">
    <div class="container" *ngIf="products$ | async as products">
        <ng-container *ngIf="params$ | async as params">
            <a routerLink="/" target="_blank">Route to blank page</a>
            <p>Total: {{ params.total }}</p>
            <p><a (click)="locationChange()">Test location go</a></p>
            <div class="spaced">
                Show: <a [href]="getShowLink(true)" (click)="showProducts(true, $event)">Public</a> |
                <a [href]="getShowLink(false)" (click)="showProducts(false, $event)">Private</a>
            </div>
            <ul class="rowlist" >
                <li *ngFor="let item of products">
                    {{ item.name }} - {{item.price }}
                </li>
            </ul>
            Page {{params.page}}
            <a class="btn" [href]="getNextLink()" (click)="nextPage({event: $event})" *ngIf="params.hasMore">Next</a>
        </ng-container>
        <a routerLink="/projects" [queryParams]="{page: 2}">Test forward with page</a>

    </div>
    <div>
      <cr-pager [isLoadMore]="true" source="pager1" (onPage)="nextPage($event)" ></cr-pager>
      <cr-pager [isLoadMore]="true" source="pager2" (onPage)="nextPage($event)" ></cr-pager>

        Somethign else on the page, this works even if above failed
        <ng-container *ngIf="params$ | async as params">
            {{ params | json }}
        </ng-container>
    </div>
</div>
