<header class="header">
    <nav>
        <ul class="boxed row">
            <li> {{ 'Welcome to Cricketere site' | translate:'WelcomeCricketere'}} </li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/projects" [shGtm]="{source: enumGtmSource.NavigationDesktop, group: enumGtmGroup.Navigation}">Projects</a></li>
            <li><a routerLink="/products" [shGtm]="{source: enumGtmSource.NavigationDesktop, group: enumGtmGroup.Navigation}">Products</a></li>
            <li><a routerLink="/projects/create" [shGtm]="{source: enumGtmSource.NavigationDesktop, group: enumGtmGroup.Navigation}">Create new</a></li>
            <li><a routerLink="/login" [shGtm]="{source: enumGtmSource.NavigationDesktop, group: enumGtmGroup.Navigation}">Login</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>

    </nav>

</header>

<router-outlet></router-outlet>
